.grid-button {
  color: whitesmoke;
}

.btn-geojson {
  background-color: #9AD0C2;
}

.btn-topojson {
  background-color: #378CE7;
}

.btn-csv {
  background-color: #FFBB64;
}

.btn-kml {
  background-color: #FAA300;
}

.btn-wkt {
  background-color: #7C81AD;
}

.btn-shapefile {
  background-color: #FC819E;
}
