<div class="container-fluid">
  <div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="top-half">
        <app-map [defaultInitMapCoords]="defaultInitMapCoords" [defaultZoomLevel]="8" (featureCollectionOutput)="watchFeatureCollection($event)" mainColor="#000000"></app-map>
        <!-- <leaflet-x (featureCollectionOutput)="watchFeatureCollection($event)"></leaflet-x> -->
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="bottom-half">
        <app-map [prefix]="mapPrefix" mainColor="#b366ff"></app-map>
      </div>
    </div>
  </div> -->
</div>
