@import "@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css";

.map-container {
  height: 100%;
}

.map-frame {
  height: 100%;
}

.map {
  height: 100%;
  width: auto;
  margin-top: 0;
}

