<div class="map-container">
  <div class="map-frame">
    <div class="map" [id]="mapId"></div>
  </div>
</div>

<UIModal [modalConfig]="fileManagerModalConfig" [modalOption]="fileManagerModalOption" #fileManagerModal>
  <UIFileUpload [modalReference]="fileManagerModal"></UIFileUpload>
</UIModal>

<UIModal [modalConfig]="fileExportModalConfig" [modalOption]="fileExportModalOption" #fileExportModal>
  <UIFileExport [FeatureCollectionToExport]="featureCollection"></UIFileExport>
</UIModal>
